.pagination{
display: flex;
justify-content: center;
gap: 80px;
padding: 21px;
        
}
.pagination i{
font-size: 24px;
transition: all 0.5s;
cursor: pointer;
    padding: 30px 0px;
}

.pagination i:hover{
    color: #3b5998;
}